{% load static %}

<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app7.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/javascript.js' %}" type="text/javascript"></script>
    
    <meta charset="UTF-8">

    <title>Yunievers!</title>    
  </head>

  <body>
    <div class = "row justify-content-center">
      <div class = "col">
        <br>
        <center><img srcset="https://i.imgur.com/JMSzjPT.jpg" class="rounded-circle" style = "border: 5px solid white; box-sizing: border-box; top: 10%; width:50%"></center>
        <br><br>
        <center><button class="btn btn-light btn-lg" id = change>Change the Theme</button></center>
      </div>
        

      <div class = "col">
        <center><div class = "textBox" style = "width:80%; height:28%;">
          <h1 align = "center" style = "font-size:3vw; margin-top:10%;">Hello! I’m Yunie Debora</h1>
          <p align = "center" style = "font-size:2.5vw;">What do you want to know about me?</p>
        </div>
        <br><br>
        <div class="accordion">
          <h3 name = "aktivitas">Aktifitas</h3>
            <div>
              <p> Sibuk Banget Sekarang ya ampun </p>
            </div>
          <h3 name = "organisasi">Pengalaman Organisasi</h3>
            <div>
              <ul>
                <li>Departemen Seni Budaya BEM Fasilkom UI</li>
                <li>PSM UI Paragita</li>
                <li>Teater Biru Merah</li>
              </ul>
            </div>
          <h3 name = "prestasi">Prestasi</h3>
              <div>
                <p> masuk UI merupakan prestasi bagi saya</p>
              </div>
        </div></center>
      </div>
    </div>
  </body>