.accordion {
    background-color: #dfc7c1;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordionDark{
  background-color: #7c655c;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #fedcd6;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.dark {
  background-color : black;
  color : #ffeaec;
}

body{
  background-color :#ffeaec;

}

.light
{
  background-color : white;
}

.textBox {
  position: relative;
  z-index:1;
  background: rgba(64, 42, 9, 0.5);
  opacity:0.75;
  border-radius: 25px;
} 

.textBoxDark{
  position: relative;
  z-index:1;
  background: black;
  border: 5px solid #ffeaec;
  border-radius: 25px;
  text-decoration-color:#ffeaec ;
  opacity:0.75;
}




